.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  margin: 0; }

.container {
  max-width: 100%;
  font-size: 18px;
  color: white;
  font-family: 'Titillium Web', sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.bigtxt {
  text-transform: uppercase; }

textarea {
  border: 0; }

#header {
  padding: 55px;
  height: 540px;
  background-color: #86509c;
  margin: auto; }

.menu {
  float: right; }

#header li {
  position: relative;
  float: left;
  padding: 10px;
  text-transform: uppercase; }

li:hover {
  background: #9925d3;
  border-radius: 3px; }

h3 {
  font-size: 42px;
  text-align: center;
  margin: 0 auto; }

.buttons {
  text-transform: uppercase;
  text-transform: uppercase;
  height: 50px;
  margin: 50px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  border: 0;
  background: #eb7d4b;
  border-bottom: 4px solid #c05c2d; }
  .buttons:hover {
    background: #ff8952; }

.txt-btn {
  margin-top: 10%;
  text-align: center; }

#content {
  margin: 0 auto;
  height: 455px;
  background: #17c2a4; }

.firstelement {
  text-align: center;
  padding-top: 25px; }

.bigtxt {
  font-size: 40px; }

.elements {
  margin-left: 150px;
  margin: 0 auto;
  width: 25%;
  float: left;
  text-align: center; }

.elements img {
  height: 150px;
  width: 150px; }

h4 {
  text-align: center;
  text-transform: uppercase; }

#footer {
  background: #3c5499;
  text-align: center; }

.form {
  margin: 150px;
  height: 60%;
  margin: 0 auto;
  padding-top: 50px;
  margin-top: 150px;
  width: 50%;
  height: 60%;
  margin: 0 auto; }

.elementsChildren {
  float: right;
  position: relative; }

label {
  top: 0;
  margin: 4px; }

textarea {
  background: #273a71;
  padding: 10px;
  max-height: 40px;
  min-height: 40px;
  max-width: 60%;
  min-width: 60%; }

.elementsChildren2 {
  margin-top: 15px;
  position: relative; }

.button2 {
  background: #07acc2;
  border-bottom: #068b9c 4px solid; }
  .button2:hover {
    background: #0bbcd3; }

.links {
  text-align: center;
  background: #344b8e; }

.links > a {
  margin-left: 56px; }

@media (max-width: 992px) {
  #header {
    height: 440px; }

  #content {
    margin: 0 auto; }

  .elements {
    margin-left: 25px; }

  textarea {
    margin: 0 auto;
    margin-right: 10px; }

  label {
    margin: 0 auto; }

  .form {
    padding-top: 50px; } }
@media (max-width: 768px) {
  h3 {
    font-size: 32px; }

  #content {
    height: 500px; }

  .elements img {
    height: 125px;
    width: 100px; }

  .form {
    float: none; }

  textarea {
    max-height: 60px;
    min-height: 60px; }

  .links > a {
    margin-left: 40px; } }
@media (max-width: 576px) {
  .menu {
    display: none; }

  .menu :first-child {
    display: block; }

  #content {
    height: 650px; }

  .elements {
    width: 40%;
    float: left;
    margin-left: 10px;
    text-align: center; }

  button {
    height: 50px;
    margin: 25px;
    padding: 10px;
    width: 225px;
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
