#footer{
    background: #3c5499;
    text-align: center;
}
.form{
    margin-top: 150px; 
    width: 50%;
    height: 60%; 
    margin: 0 auto;
}
.elementsChildren{
    margin: 5%;
    float: left;
}
label{
    top: 0;
   //margin-right: 50px;
}
textarea{
    background: #273a71;
    padding: 10px;
     
}
.button2{
    background: #07acc2;
    border-bottom: #068b9c 4px solid;
    &:hover{
        background: #0bbcd3;
    }
}
.links{
    text-align: center;
    background: #344b8e;
}
.links > a {
    margin-left: 56px;
}