#footer{
    background: #3c5499;
    text-align: center;
}
.form{
    margin: 150px; 
    border: 1px solid wheat;
    width: 50%;
    height: 60%; 
    margin: 0 auto;
    
}
.elementsChildren{
    margin-right: 150px;
}
label {
    position: relative;
    text-align: center;
   margin: 20px;
}
textarea{
    margin: 20px;
     top: 0;
    background: #273a71;
    padding: 10px;
    max-height: 45px;
    min-height: 45px;
    max-width: 250px;
    min-width: 250px;
}
.elementsChildren2{
    margin-top: 15px; 
    
 }
.last-textarea{
    min-width: 50%;
    max-width: 50%;
}
.links{
    text-align: center;
    background: #344b8e;
}
.links > a {
    margin-left: 56px;
}