#footer{
    background: #3c5499;
    text-align: center;
}
.form{
    margin: 150px;
    height: 60%; 
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 150px; 
    width: 50%;
    height: 60%; 
    margin: 0 auto;
}
.elementsChildren{
    float: right;
    position: relative;
}
label{
    top: 0;
    margin: 4px;
}
textarea{
    background: #273a71;
    padding: 10px;
    max-height: 40px;
    min-height: 40px;
    max-width: 60%;
    min-width: 60%;
}
.elementsChildren2{
    margin-top: 15px; 
    position: relative;
    
 }
.button2{
    background: #07acc2;
    border-bottom: #068b9c 4px solid;
    &:hover{
        background: #0bbcd3;
    }
}
.links{
    text-align: center;
    background: #344b8e;
}
.links > a {
    margin-left: 56px;
}