#header{
    padding: 55px;
    //margin:auto;  
}
.menu{
    float: right;
}
#header li {
    position: relative;
    float: left;
    padding: 10px;
    text-transform: $may;
}
li:hover{
    background: #550a7a;
    border-radius: 3px;
}
h3 {
    font-size: 42px;
    text-align: center;
    margin: 0 auto;
}
.buttons{
    text-transform: $may;
    @include btn;
    background: #eb7d4b;
    border-bottom: 4px solid #c05c2d;
    &:hover{
        background: #ff8952;
    }  
}
.txt-btn{
    margin-top: 10%;
    text-align: center;
}
