#header{
    padding: 55px;
    height: 540px;
    background-color: #643a79; 
    margin:auto;  
}
.menu{
    float: right;
}
#header li {
    position: relative;
    margin-right: 25px;
    float: left;
    padding: 2px;
    background: #643a79a6;
    text-transform: $may;
}
h3 {
    font-size: 42px;
    text-align: center;
    margin: 0 auto;
}
.buttons{
    text-transform: $may;
    @include btn;
    background: #eb7d4b;
  
      
}
.txt-btn{
    margin-top: 10%;
    text-align: center;
}
