#content{
    margin: 0 auto;
    height: 455px;
    padding: 55px;
    background: #17c2a4; 
}
.firstelement{
    text-align: center;
    padding-top: 25px;
}
.bigtxt{
    font-size: 40px;   
}
.elements{
    margin-left: 150px;
    margin: 0 auto;
    width: 25%;
    float: left;
    text-align: center;
}
.elements img {
    height: 150px;
    width: 150px;
}
h4{
    text-align: center;
    text-transform: $may;
}
