#content{
    margin: auto;
    height: 455px;
    background: #17c2a4;
    
}
.firstelement{
    text-align: center;
}
.bigtxt{
    font-size: 40px;
    
}
.elements{
    margin-left: 150px;
    text-align: center;
    width: 20%;
    float: left;
    margin: 1%;
   
}
.elements img {
    height: 150px;
    width: 150px;
}
.p {
    text-align: center;
    text-transform: $may;
}
