*{
    margin: 0;  
}
.bg-color-purple{
    background-color: #86509c; 
    width: 100%;
}
.bg-color-green{
    background: #17c2a4;
    width: 100%;
}
.bg-color-blue{
    background: #3c5499;
    width: 100%;
}
.bg-color-darkblue{
    background: #344b8e;
    width: 100%;
}
.container {
    width: 1100px;
    font-size: 18px;
    color: white;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.bigtxt{
    text-transform: uppercase;
}
textarea{
    border: 0;
}