*{
    margin: 0;  
}
.container {
    max-width: 100%;
    font-size: 18px;
    color: white;
    
    font-family: 'Titillium Web', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.bigtxt{
    text-transform: uppercase;
}
textarea{
    border: 0;
}